.banner {
  height: 50vh;
  background: url("../image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.opacity {
  background: 0.35;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

.banner2 {
  height: 80vh;
  background: url("../image/homb.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.warna1 {
  background-color: #633971;
}

.warna2 {
  background-color: black;
}

.warna3{
  background-color: white;
}

.warna4 {
  background-color: #5c5c5c;
}

.warna5 {
  background-color: #acabab;
}

.warna6 {
  color: #5c5c5c;
}

.warna7 {
  color: white;
}

.no-decoration{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.no-decoration:hover {
  color: #C39BD3;
}

footer {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}