.warna1 {
    background-color: #633971;
}

.warna2 {
    background-color: black;
}

.warna3{
    background-color: white;
}

.warna4 {
    background-color: #5c5c5c;
}

.warna5 {
    background-color: #acabab;
}

.warna6 {
    color: #5c5c5c;
}

.warna7 {
    color: white;
}

.banner {
    height: 50vh;
    background: url('../image/dolphin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.banner2 {
    height: 80vh;
    background: url('../image/bottom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.banner2-margin {
    margin-top: 150px;
  }

.highlighted-keahlian{
    height: 400px;
}

.keahlian-satu{
    background: url('../image/lumba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.keahlian-dua{
    background: url('../image/fish.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.keahlian-tiga{
    background: url('../image/star.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.no-decoration{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.no-decoration:hover {
    color: #C39BD3;
}

.paragraf{
    font-size: 16px;
}S

.image-box{
    height: 240px;
}

.image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.link{
    color: white;
}

.card-body2{
    background-color: #633971;
    color: white;
    border-radius: 4px;
}

section{
    padding: 50px;
}

.about .row{
    display: flex;
    align-items: center;
    background:white;
    border-radius: 10px;
}

footer {
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }